nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #fff; /* veya #f4f4f4 */
  }
  
  .logo {
    height: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
  }
  
  .nav-links a:hover {
    color: #495E57; /* Little Lemon rengi */
  }
  